branches:
  - main
plugins:
  - "@semantic-release/commit-analyzer"
  - "@semantic-release/release-notes-generator"
  - - "@google/semantic-release-replace-plugin"
    - replacements:
        - files:
            - "./Google-Maps-iOS-Utils.podspec"
          from: "s.version      = \".*\""
          to: "s.version      = \"${nextRelease.version}\""

        - files:
            - "./GoogleMapsUtils.xcodeproj/project.pbxproj"
          from: "MARKETING_VERSION = .*;"
          to: "MARKETING_VERSION = ${nextRelease.version};"

        - files:
            - "Podfile.template"
          from: "'Google-Maps-iOS-Utils', '([0-9]+).([0-9]+).([0-9]+)'"
          to: "'Google-Maps-iOS-Utils', '${nextRelease.version}'"

        - files:
            - "README.md"
          from: "(?!6.2.1|4.1.0)([0-9]+).([0-9]+).([0-9]+)"
          to: "${nextRelease.version}"

        - files:
            - "Package.swift"
          from: "v([0-9]+).([0-9]+).([0-9]+)"
          to: "v${nextRelease.version}"
  - - "@semantic-release/exec"
    - verifyConditionsCmd: "pod lib lint"
      publishCmd: "pod trunk push"
  - - "@semantic-release/git"
    - assets:
        - "./Google-Maps-iOS-Utils.podspec"
        - "./GoogleMapsUtils.xcodeproj/project.pbxproj"
        - "*.md"
        - "Podfile.template"
        - "Package.swift"
  - - "@semantic-release/github"
    - assets:
        - "./GoogleMapsUtils.xcframework.zip"

options:
  debug: true
