# [START maps_ios_utils_podfile_template]
source 'https://github.com/CocoaPods/Specs.git'
platform :ios, '16.0'

target 'YOUR_APPLICATION_TARGET_NAME_HERE' do
  use_frameworks!
  pod 'GoogleMaps', '10.0.0'
  pod 'Google-Maps-iOS-Utils', '6.1.2' # x-release-please-version
end
# [END maps_ios_utils_podfile_template]
