# [START maps_ios_utils_podfile_template]
source 'https://github.com/CocoaPods/Specs.git'
platform :ios, '10.0'

target 'YOUR_APPLICATION_TARGET_NAME_HERE' do
  use_frameworks!
  pod 'GoogleMaps', '4.0.0'
  pod 'Google-Maps-iOS-Utils', '3.4.0'
end
# [END maps_ios_utils_podfile_template]
